  /* FOOTER START */
  .footer {
    margin-top: 34px;
    background: #2d2d2d;
    padding-top: 35px;
  }
  .footer__wrapper {
    display: flex;
    align-items: center;
    gap: 150px;
  }
  .footer__actions {
  }
  .footer__item-title {
    color: #fff;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 39px;
  }
  .footer__item-title__icon {
    display: none;
  }
  .footer__actions-second {
    width: 70%;
  }
  .footer__right-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__items-last {
    height: 210px;
  }
  .footer__item {
    margin-bottom: 20px;
  }
  .footer__link {
    color: #fff;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    transition: all 0.3s ease;
  }
  .footer__link:hover {
    color: #7645b6;
  }
  .footer__bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 95px;
    gap: 50px;
    padding-bottom: 54px;
    border-bottom: 1px solid #555;
  }
  .footer__phone a {
    color: #fff;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    white-space: nowrap;
    display: block;
    transition: all 0.25s ease;
  }
  .footer__phone a strong {
    color: #fff;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    transition: all 0.25s ease;
  }
  .footer__phone svg {
    margin-right: 12px;
  }
  .footer__phone svg path {
    transition: all 0.25s ease;
  }
  .footer__phone:hover a {
    color: #5517a4;
  }
  .footer__phone:hover strong {
    color: #5517a4;
  }
  .footer__phone:hover svg path {
    fill: #5517a4;
  }
  .footer__phone__desc {
    color: #fff;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    margin-left: 26px;
    display: inline-block;
    margin-top: 10px;
  }
  .footer__work-time p,
  .email {
    color: #fff;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30.9px;
  }
  .footer__order__action {
    display: flex;
    align-items: center;
    gap: 13px;
  }
  .footer__order__title {
    color: #fff;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
  }
  .footer__order__city {
    color: #fff;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
  }
  .footer__order-time {
    color: #fff;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    margin-top: 13px;
  }
  .footer__order-time span {
    color: #1ea634;
  }
  .footer__sponsor span {
    color: #fff;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 600;
    line-height: 25.885px;
  }
  .footer__sponsor-img {
    width: 98px;
    height: 25px;
  }
  .footer__sponsor-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .footer__location-info {
    margin-top: 37px;
    padding-bottom: 60px;
  }
  .footer__location-info__first {
    color: #fff;
    text-align: center;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.5px;
    max-width: 900px;
    margin: 0 auto;
  }
  .footer__location-info__second {
    margin: 0 auto;
    max-width: 1000px;
    color: #fff;
    text-align: center;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.5px;
  }
  .footer__location-info__second:not(:last-child) {
    margin-bottom: 50px;
  }
  .footer__phone-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    flex-wrap: wrap;
  }

  /* FOOTER END */
  
  @media (max-width: 1348px) {
    .footer__wrapper {
      gap: 100px;
    }
    .footer__right-items {
      gap: 50px;
      flex-wrap: wrap;
    }
    .footer__wrapper {
      align-items: flex-start;
    }
    .footer__bottom-content {
      flex-wrap: wrap;
    }
  }
  @media (max-width: 1000px) {
    .footer__bottom-content {
      margin-top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #footer{
      margin-top: 48px;
    }
  }
  @media (max-width: 800px) {
    .footer__location-info {
      padding-bottom: 90px;
    }
  }

  @media (max-width: 610px) {
    .footer__items {
      text-align: center;
    }
    .footer__link {
      white-space: nowrap;
    }
    .footer__item-title {
      display: flex;
      white-space: nowrap;
      align-items: center;
    }
    .footer__item-title__icon {
      display: block;
      margin-left: 13px;
    }
    .footer__items,
    .footer__right-items {
      display: none;
    }
    .footer__items.active,
    .footer__right-items.active {
      display: block;
    }
    .footer__item-title {
      cursor: pointer;
    }
    .footer__item-title__icon {
      transition: transform 0.3s ease;
    }
    .footer__item-title__icon.rotate {
      transform: rotate(180deg);
    }
    .footer__work-time {
      text-align: center;
    }
    .footer__bottom-content {
      padding-bottom: 24px;
    }
    .footer__location-info {
      margin-top: 24px;
    }
    .footer__location-info__second:not(:last-child) {
      margin-bottom: 24px;
    }
    .footer__phone-wrapper{
      gap: 20px;
    }
    .food-catalog__item a {
      font-size: 12px;
    }
  }
  
  @media (max-width: 450px) {
    .footer__wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
    .footer__item-title {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .footer__actions-second {
      text-align: center;
    }
    .footer__items-last {
      height: 120px;
    }
    .footer__bottom-content {
      gap: 16px;
    }
    .footer__order__action {
      justify-content: center;
      align-items: center;
    }
    .footer__location-info__first,
    .footer__location-info__second {
      text-align: center;
      font-size: 10px;
      line-height: 19.5px;
    }
    .footer__phone__desc-hide{
      display: none;
    }
    .phone__number-first{
      margin-bottom: -17px;
    }
    .hide-icon{
      display: none;
    }
    .phone__number-second{
      margin-left: 28px;
    }
    .footer__phone a strong{
      font-size: 14px;
      line-height: 18px;
    }
    .footer__phone a{
      font-size: 12px;
      line-height: 18px;
    }
    .footer__phone svg{
      margin-right: 8px;
    }
    .footer__phone__desc{
      font-size: 12px;
      margin-top: 0px;
    }
    .footer__phone{
      text-align: center;
    }
    .footer__work-time p, .email{
      font-size: 14px;
      line-height: 28px;
    }
    .footer__order__title{
      font-size: 14px;
    }
    .footer__order__city{
      font-size: 14px;
    }
    .footer__order-time{
      font-size: 12px;
    }
    .footer__sponsor span{
      font-size: 12px;
      line-height: 20.602px;
    }
    .footer__phone{
      display: block;
    }
    .footer__phone-wrapper{
      flex-direction: column;
      width: 100%;
      gap: 16px;
    }
  }
 