/* HEADER START */
.header {
    padding-top: 17px;
  }
  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__logo {
    display: inline-block;
    max-width: 199px;
    max-height: 49px;
  }
  .header__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .header__delivery {
  }
  .header__delivery__wrapper {
    display: flex;
    align-items: center;
    gap: 13px;
  }
  .header__delivery__title {
    color: #2d2d2d;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
  }
  .header__delivery__city {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  .header__delivery__city span {
    display: inline-block;
    color: #5416a4;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
  }
  .header__delivery__city svg {
    margin-top: 3px;
    transition: all 0.3s ease;
  }
  .header__delivery__time {
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    color: #808080;
  }
  .header__delivery__time span {
    color: #1ea634;
  }
  .header__telephones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 52px;
  }
  .header__telephone {
  }
  .header__telephone-number {
    color: #5416a4;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    display: inline-block;
    white-space: nowrap;
  }
  .header__telephone-number svg {
    margin-right: 11px;
  }
  .header__telephone-number strong {
    font-size: 18px;
  }
  .header__telephone-text {
    display: inline-block;
    margin-left: 26px;
    color: #808080;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    vertical-align: top;
    margin-top: -2px;
  }
  .header__buttons {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .header__btn-basket {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    padding: 13px 23px;
    border: none;
    border-radius: 40px;
    background: #5d0097;
    cursor: pointer;
    font-family: Manrope;
    transition: all 0.2s ease-in;
  }
  
  .header__btn-basket:hover {
    background: hsl(266, 91%, 32%);
  }
  .header__btn-signin {
    border: none;
    padding: 12.5px 20px;
    color: #2d2d2d;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 40px;
    background: #f2f2f2;
    transition: all 0.2s ease-in;
    cursor: pointer;
  }
  .header__btn-signin span {
    display: inline-block;
  }
  .header__btn-signin:hover {
    background: #e4e3e3;
  }
  .header__delivery__dropdown {
    position: relative;
    display: inline-block;
  }
  .delivery__dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 12px 0;
    margin-top: 5px;
    border-radius: 4px;
  }
  .delivery__dropdown-item {
    display: block;
    color: #5416a4;
    font-family: Gilroy;
    font-size: 16px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 600;
    line-height: 18px;
  }
  .delivery__dropdown-item:hover {
    background-color: #f1f1f1;
  }
  .header__delivery__dropdown.open .delivery__dropdown-menu {
    display: block;
  }
  .header__delivery__dropdown.open .header__delivery__city svg {
    transform: rotate(180deg);
  }
  .header__bars {
    display: none;
    width: 18px;
    height: 14px;
    cursor: pointer;
    vertical-align: top;
    margin-top: -5px;
  }
  #check {
    display: none;
  }
  .header__bars img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* NAVBAR START */
  .header__navbar {
    margin-top: 23px;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .header__navbar__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    max-width: 1120px;
  }
  .header__navbar__link {
    color: #2d2d2d;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    transition: all 0.2s ease;
  }
  .header__navbar__link:hover {
    color: #5416a4;
  }
  
  /* NAVBAR END */
  .header__menu {
    display: none;
  }
  .header__menu__wrapper {
    padding: 24px 24px 0 24px;
  }
  .header__menu__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .delivery__dropdown-menu svg {
    cursor: pointer;
  }
  .header__delivery-change {
    color: #bba2db;
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    margin-left: 26px;
  }
  .header__line {
    width: 100%;
    height: 1px;
    margin-top: 16px;
    background: #7645b6;
  }
  .header__menu__order-time {
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    color: #fff;
    margin-top: 16px;
  }
  .header__menu__phones {
    padding-left: 24px;
    margin-top: 32px;
  }
  .header__menu__order-time span {
    color: #00ff47;
  }
  .header__menu__phone-description {
    color: #fff;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    margin-left: 8px;
    margin-top: 4px;
    margin-bottom: 24px;
  }
  .header__menu__phone {
    color: #fff;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
  }
  .header__menu__phone strong {
    font-size: 18px;
  }
  
  .header__menu__content {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .header__menu__button {
    width: 100%;
    border: none;
    cursor: pointer;
    text-align: left;
    background: none;
    color: #fff;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    padding: 0 24px;
    display: flex;
    align-items: flex-end;
    gap: 16px;
  }
  .header__menu__button svg {
    transition: all 0.2s ease;
  }
  .header__dropdown__items {
    display: none;
    margin-top: 24px;
  }
  .header__dropdown__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px 20px 24px;
  }
  .header__dropdown__item:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .header__dropdown__link {
    display: block;
    color: #fff;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
  }
  .header__menu__login {
    color: #fff;
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 600;
    line-height: 18px;
    border: none;
    outline: none;
    font-style: normal;
    display: flex;
    gap: 8px;
    align-items: center;
    background: none;
    margin-top: 48px;
    margin-left: 24px;
  }
  .header__menu__login svg {
    transition: all 0.25s ease;
  }
  .header__menu__login:hover svg {
    transform: translateX(15px);
  }
  .header__menu__work-time {
    margin-left: 24px;
  }
  .header__menu__work-time p,
  .header__menu__work-email a {
    color: #fff;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }
  .header__menu__work-email {
    margin-top: 10px;
  }
  /* HEADER END */
  /* NAVIGATION MENU START */
  .navigation-menu {
    display: none;
    width: 100%;
    background: #fff;
    box-shadow: 0px -2px 8px 0px rgba(65, 111, 121, 0.14);
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .navigation-menu__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
  }
  .navigation-menu__item {
    padding: 10px 0 8px 0;
  }
  .navigation-menu__link {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    position: relative;
  }
  .navigation-menu__link span {
    color: #2d2d2d;
    font-family: Manrope;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 0.2s ease;
  }
  .navigation-menu__link.active span {
    color: #5416a4;
  }
  .navigation-menu__link:hover svg path {
    fill: #5416a4;
  }
  .navigation-menu__link:hover span {
    color: #5416a4;
  }
  .navigation-menu__link .number {
    position: absolute;
    top: -5px;
    right: 7px;
    color: #5416a4;
    text-align: center;
    width: 13px;
    height: 13px;
    font-family: Manrope;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    background: #e6dcf2;
    border-radius: 100%;
  }
  /* NAVIGATION MENU END */
  @media (max-width: 1348px) {
    .header__top {
      flex-wrap: wrap;
      gap: 20px;
      align-items: flex-start;
    }
    .container {
      padding: 0 24px;
    }
    .header__telephones {
      gap: 20px;
      display: inline-block;
    }
    .header__telephones {
      flex-wrap: wrap;
    }
    .header__btn-basket {
      font-size: 14px;
      padding: 10px 23px;
    }
    .header__btn-signin {
      font-size: 14px;
      padding: 10px 23px;
    }
    .header__telephone-number strong {
      font-size: 16px;
    }
    .header__navbar__items {
      gap: 10px;
    }
    .header__navbar__link {
      font-size: 14px;
    }
  }
  @media (max-width: 800px) {
    .header__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .header__top {
      align-items: center;
      gap: 150px;
      flex-wrap: nowrap;
    }
    .header__buttons {
      display: none;
    }
    .header__delivery {
      display: none;
    }
    .header__telephone-text {
      display: none;
    }
    .telephone-number-two {
      margin-left: 25px;
    }
    .header__telephone-number .hide {
      display: none;
    }
    .header__navbar {
      margin-top: 23px;
      overflow-y: hidden;
      max-width: 700px;
      overflow-x: scroll;
      white-space: nowrap;
      padding-bottom: 12px;
    }
    .header__navbar__items {
      gap: 32px;
    }
    #header__navbar-scroll::-webkit-scrollbar {
      height: 4px;
    }
    #header__navbar-scroll::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #e6dcf2;
    }
  
    #header__navbar-scroll::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #5517a4;
      border-color: none;
    }
  
    .header__bars {
      display: block;
    }
    .header__menu {
      display: block;
      position: fixed;
      width: 100%;
      height: 100vh;
      left: -100%;
      top: 0;
      bottom: 0;
      background: #5416a4;
      transition: all 0.4s ease;
      z-index: 999;
      padding-bottom: 20px;
      overflow-y: auto; 
    }
    #check:checked ~ .header__menu {
      left: 0;
    }
    .delivery__dropdown-menu {
      margin-top: 120px;
    }
    .header__delivery__city span {
      color: white;
    }
    .header__delivery__dropdown {
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 24px;
    }
    .delivery__dropdown-menu {
      margin-top: 120px;
    }
    #menu__second-btn {
      display: inline-block;
      margin-top: 40px;
      margin-bottom: 48px;
    }
    #menu__third-btn svg {
      transition: all 0.5s ease;
    }
    .transform {
      transform: rotate(90deg);
    }
    .navigation-menu {
      display: block;
    }
  }
  @media (max-width: 610px) {
    .header__logo {
      max-width: 129px;
      max-height: 32px;
    }
    .header__telephone-number strong {
      font-size: 14px;
    }
    .header__telephone-second {
      margin-top: -10px;
    }
    .header__telephone-number {
      font-size: 12px;
    }
    .header__top {
      gap: 20px;
    }
  }
  @media (max-width: 375px) {
    .header__logo {
      max-width: 100px;
      max-height: 30px;
    }
    .header__top {
      gap: 15px;
    }
  }