.home {
  margin-top: 49px;
}
.splide__slide {
  min-height: 260px;
  margin-right: 20px;
}

.is-disabled {
  display: none;
}
.splide__arrow:disabled {
  display: none !important;
}
.splide__arrow {
  background: none;
  top: middle;
}
.splide__arrow svg {
  font-size: 20px;
  fill: #5d0097;
}
.splide__arrow--next {
  right: -25px;
}
.splide__arrow--prev {
  left: -33px;
  z-index: 90;
}
.home__card {
  border-radius: 20px;
  background: linear-gradient(
      143deg,
      rgba(84, 22, 164, 0.5) 16.58%,
      rgba(131, 39, 108, 0.5) 74.3%,
      rgba(102, 28, 143, 0.5) 74.3%
    ),
    #5416a4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 520px;
}
.splide__pagination {
  display: none;
}
.home__card-information {
  margin-left: 38px;
}
.home__card-title {
  color: #fff;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
  max-width: 267px;
}
.home__card-text {
  color: #fff;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.card-text-first {
  max-width: 263px;
  margin-bottom: 44px;
}
.home__card-button {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 40px;
  border: 2px solid #fff;
  color: #fff;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  padding: 9px 30px;
  background: transparent;
}
.home__card-img {
  max-width: 214px;
  max-height: 214px;
}
.home__card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-text-second {
  max-width: 243px;
  margin-bottom: 24px;
}
.card-text-third {
  max-width: 235px;
  margin-bottom: 44px;
}
/*  CATALOG CARD SECTION START  */
.splide-slider{
    background: red;
}
/*  CATALOG CARD SECTION END  */

/*  PRODUCT SECTION START */
.product-section__title{
    color: #2D2D2D;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    display: inline-block;
    margin-right: 10px;
}
.product-section__button{
    color: #5416A4;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; 
    border: none;
    border-radius: 40px;
    background: rgba(84, 22, 164, 0.15);
    padding: 13px 22px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.product-section__button:hover{
    background: #5416A4;
    color: white;
}
.product-section__wrapper{
    margin-top: 29px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 305px));
    grid-gap: 20px 20px;
    row-gap: 30px;
    justify-content: center;
    align-items:center;
}
.product-section__card{
   max-width: 294px;
   padding-bottom: 22px;
   transition: all .3s ease;
}
/* .product-section__card:hover{
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.10);
} */
.product-section__card-last{
    border-radius: 15px;
    border: 3px solid #5416A4;
    max-width: 294px;
    padding: 55px 15px 23px 23px;
    max-height: 495px;
}
#last-btn{
    width: 100%;
    padding: 13px 40px;
}
#title-last{
    color: #5416A4;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 150px;
    margin-bottom: 34px;
}
#last-price{
    margin-bottom: 60px;
    margin-top: 25px;
}
.product-section__img{
    max-width: 294px;
    max-height: 294px;
    margin-bottom: 15px;
}
.product-section__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-section__card-title{
    color:  #2D2D2D;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 22px; 
}
.product-section__card-text{
    color: #000;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    max-width: 294px;
    margin-bottom: 15px;
}
.product-section__card-price{
    color: #5416A4;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; 
    margin-top: 10px;
    float: left;
}
.product-section__card-btn{
    border: none;
    padding: 13px 40px;
    color: #5416A4;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; 
    border-radius: 40px;
    background: #E6DCF2;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease;
}
.product-section__card-btn:hover{
    background: #5416A4;
    color: white;
}
.product-section__see-all-btn{
    display: none;
    color: #5416A4;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 10.714px; 
    border: none;
    padding: 9px 26px;
    border-radius: 40px;
    background: #E6DCF2;
    cursor: pointer;
    height: 36px;
    transition: all 0.5s ease;
    margin-bottom: 48px;
}
.product-section__see-all-btn:hover{
    background:#5416A4;
    color: white;
}
#product-section__roll-title {
    max-width: 256px;
    color: #5416A4;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*  PRODUCT SECTION END */
@media (max-width: 1300px) {
  .splide__slide {
    min-height: 260px;
    margin-right: 10px;
  }
  .home__card {
    padding: 20px;
  }
  .home__card-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .home__card-information {
    margin: 0 0 20px 0;
  }

  .home__card-img {
    max-width: 150px;
    max-height: 150px;
  }
  .splide__pagination__page {
    background: #e6dcf2;
  }
  .splide__pagination__page.is-active {
    background: #5416a4;
  }
}
@media (max-width:1000px) {
    .splide__arrow {
        display: none;
      }
    .splide__pagination {
        display: flex;
        bottom: -30px;
    }
    .home {
        margin-top: 24px;
    }
    
}
@media (max-width: 650px) {
  .splide__slide {
    min-height: 100px !important;
  }
  .home__card {
    padding: 21px 0 21px 24px;
    align-items: center;
  }
  .home__card-information {
    margin: 0;
  }
  .home__card-img {
    width: 132px;
    height: 132px;
  }
  .home__card-title {
    font-size: 18px;
    max-width: 194px;
    margin-bottom: 8px;
  }
  .home__card-text {
    font-size: 12px;
    margin-bottom: 16px;
    max-width: 194px;
  }
  .home__card-button{
    font-size: 12px;
  }
  .product-section__wrapper{
     display: block;
  }
  .product-section__card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    max-width: 100% !important;
    border-bottom: 2px solid #E6DCF2;
    margin-bottom: 16px;
  }
  .product-section__card-last{
    border-bottom: 3px solid #5416A4;
  }
  .product-section__information{
  }
  .product-section__img{
    max-width: 111px;
    max-height: 111px;
  }
  .product-section__card-title{
    font-size: 16px;
    margin-bottom: 8px;
  }
  .product-section__card-text{
    font-size: 12px;
    margin-bottom: 8px;
  }
  .product-section__card-btn{
    padding: 9px 26px;
    font-size: 14px;
  }
  .product-section__card-price{
    font-size: 16px;
  }
  #title-last{
    font-size: 18px;
  }
  #product-section__roll-title{
    font-size: 18px;
  }
  .product-section__card-last{
    height: 220px;
    padding: 25px;
  }
  .product-section__card-bottom{
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product-section__card-price{
    margin-top: 0;
  }
  #last-price {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 15px;
    white-space: nowrap;
    }
    #last-btn {
        padding: 11px 30px;
        white-space: nowrap;
    }
    .product-section__see-all-btn{
        display: block;
    }
    .hidden {
        display: none; 
     }
     .visible {
        display: flex; 
     }
     .product-section__button{
        padding: 9px 30px;
        font-size: 14px;
     }
}

@media (max-width:540px) {
    .product-section__card-last{
        min-height: 280px;
        padding-bottom: 15px;
        flex-direction: column;
    }
    #title-last{
        max-width: 100% !important;
        margin-bottom: 0px;
    }
    #product-section__roll-title{
        font-size: 18px;
      }

    .product-section__button{
        font-size: 16px;
    }
    .product-section__title{
        font-size: 16px;
    }
    #last-price{
        margin-bottom: 10px;
    }
}

@media (max-width:400px) {
    .product-section__card-price{
        font-size: 13px;
        white-space: nowrap;
    }
    .product-section__card-btn{
        padding: 5px 26px;
        font-size: 13px;

    }
    .product-section__card-last{
        min-height: 300px;
    }
    #last-btn{
        margin-bottom: 20px !important;
    }
    
}
